.pult{
    display: flex;
    padding: 26px 20px 10px;
    background: #ffffff;
    border-bottom: solid 1px #e8e8e8;
    box-shadow: 0px 4px 5px #00000020;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.pult__trackname, .pult__btnbox{
    display: flex;
    align-items: center;
}
.pult__progress-wrap{
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    background: #00000010;
    height: 12px;
    transition: height 0.2s ease-out;
}
.pult__progress-wrap:hover{
    height: 12px;
}
.pult__progress{
    display: block;
    width: 0;
    height: 100%;
    background: #ff5079;    
}
.pult__trackname{}
.pult__btnbox{}
.pult__btn{} 
.btn_toggle-play{}
.btn_stop{}