.credits{
    display: flex;
    font-size: 14px;
    color: #333333;
    padding: 10px 20px;
    background: #ffffff;
    border-top: solid 1px #e8e8e8;
    box-shadow: 0px 4px 5px #00000020;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.credits__title{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 14px;
    font-size: 18px;
    font-weight: 700;
}
.credits__title > span {
    display: block;
    font-size: 12px;
    font-weight: 100;
    text-transform: lowercase;
}