.track-list{
}
.track-list__list{
    display: block;
    padding: 0;
    border-top: solid 1px #e8e8e8;
}
.track-list__list__item{
    display: block;
    list-style: none;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid 1px #e8e8e8;
    border-left: solid 1px #e8e8e8;
    border-right: solid 1px #e8e8e8;
}
.track-list__list__item.active {
    font-weight: 700;
}