.root {
    margin-bottom: 24px;
    padding-left: 40px;
}
.title{
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.description {
    margin-top: 8px;
    margin-bottom: 8px;
    color: var(--text-secondary);
}

.moreLink {
    &:visited {
        color: var(--text-secondary);
    }
}