.track-list{
}
.track-list__list{
    display: block;
    padding: 0;
    margin-top: 8px;
}
.track-list__list__item{
    /*display: block;*/
    list-style: none;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid 1px #e8e8e8;

    display: flex;
    column-gap: 8px;
}
.track-list__list__item.active {
    font-weight: 700;
}
.track-list__container {
    padding-left: 4px;
    padding-right: 4px;
}

.link-icon {
    height: 20px;
    width: 20px;
    color: #ced4da;
}