.track {
    display: grid;
    grid-template-columns: 40px auto 80px 40px;
    column-gap: 8px;
    padding: 12px 16px;
    border-bottom: solid 1px #e8e8e8;
    align-items: center;

    &Active{
        background: #ff5079;
        color: #ffffff;
        font-weight: 600;
        border-radius: 4px;
    }
}

.listHead {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 40px auto 80px 40px;
    column-gap: 8px;
    color:var(--text-secondary);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75em;
}

.linkBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkIcon {
    height: 20px;
    width: 20px;
    color: #ced4da;
}

.listRoot {
    padding-left: 4px;
    padding-right: 4px;
}

.listList{
    display: block;
    padding: 0;
    margin-top: 8px;
}

