.main{
    display: block;
    padding-top: 84px;
    padding-bottom: 98px;
}
.main__title{
    text-transform: uppercase;
}
.main__title > .util{
    text-transform: lowercase;
}

:root{
    --text-secondary: #6c757d;
    --border-primary: solid 1px #e8e8e8;
}

* {
    outline-color: #ff5079;
}
