.main{
    display: block;
    padding-top: 84px;
    padding-bottom: 98px;
}
.main__title{
    text-transform: uppercase;
}
.main__title > .util{
    text-transform: lowercase;
}
.main__slide{
    display: flex;
    flex-direction: row;
    width: 280px;
    height: 100px;
    border: 0.5px solid #cccccc;
    align-items: center;
    color: #222222;
}
.main__slide > img {
    height: 100%;
}
.main__slide * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}